@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  position: relative;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.main-wrapper::-webkit-scrollbar {
  display: none;
}

#certificate #certificate-first-page {
  background-image: url("/img/background-sertif.png");
}
#certificate #certificate-second-page {
  background-image: url("/img/background-sertif.png");
}
